<div class="flex flex-col shadow-md rounded-md bg-white p-8">
  <p class="text-purple-400 font-extrabold">Login</p>
  <button class="block rounded m-1 px-4 py-3 bg-black text-white w-max">
    <i class="fab fa-github pr-3"></i>
    Sign in With Github
  </button>
  <button class="block rounded m-1 px-4 py-3 bg-black text-white w-max">
    <i class="fab fa-google pr-3"></i>
    Sign in With Google
  </button>
</div>